In [1]:
import os, sys

module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import guacml as guac
import pandas as pd

//anaconda/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
ds = guac.Dataset('./data/raw/train.csv', 'Survived')
ds.column_info

,col_name,type,n_unique,n_unique_%,n_na_%,n_blank_%,example
0,PassengerId,ColType.INT_ENCODING,891,100,0.0,0.0,1
1,Survived,ColType.BINARY,2,0,0.0,0.0,0
2,Pclass,ColType.CATEGORICAL,3,0,0.0,0.0,3
3,Name,ColType.WORDS,891,100,0.0,0.0,"Braund, Mr. Owen Harris"
4,Sex,ColType.CATEGORICAL,2,0,0.0,0.0,male
5,Age,ColType.NUMERIC,88,10,20.0,0.0,22
6,SibSp,ColType.ORDINAL,7,1,0.0,0.0,1
7,Parch,ColType.CATEGORICAL,7,1,0.0,0.0,0
8,Ticket,ColType.CATEGORICAL,681,76,0.0,0.0,A/5 21171
9,Fare,ColType.NUMERIC,248,28,0.0,0.0,7.25
10,Cabin,ColType.CATEGORICAL,147,16,77.0,0.0,C85
11,Embarked,ColType.CATEGORICAL,3,0,0.0,0.0,S

In [3]:
ds.run()
ds.model_overview()

      model name   cv error  training error
2       xg_boost   0.377417        0.153173
0  random_forest   6.314970        0.554400
1   linear_model  12.243223       13.693545