In [1]:
import os, sys

module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import guacml
import pandas as pd

//anaconda/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
ds = guacml.Dataset('./data/raw/train.csv', 'Survived')
ds.column_info

,col_name,type,n_unique,n_unique_%,n_na_%,n_blank_%,example
0,PassengerId,ColType.INT_ENCODING,891,100,0.0,0.0,1
1,Survived,ColType.BINARY,2,0,0.0,0.0,0
2,Pclass,ColType.CATEGORICAL,3,0,0.0,0.0,3
3,Name,ColType.WORDS,891,100,0.0,0.0,"Braund, Mr. Owen Harris"
4,Sex,ColType.CATEGORICAL,2,0,0.0,0.0,male
5,Age,ColType.NUMERIC,88,10,20.0,0.0,22
6,SibSp,ColType.ORDINAL,7,1,0.0,0.0,1
7,Parch,ColType.CATEGORICAL,7,1,0.0,0.0,0
8,Ticket,ColType.CATEGORICAL,681,76,0.0,0.0,A/5 21171
9,Fare,ColType.NUMERIC,248,28,0.0,0.0,7.25
10,Cabin,ColType.CATEGORICAL,147,16,77.0,0.0,C85
11,Embarked,ColType.CATEGORICAL,3,0,0.0,0.0,S

In [3]:
ds.run(10)
ds.model_overview()

Initialization
--------------------------------------------------------
 Step |   Time |      Value |   max_depth |   n_rounds |
    1 | 00m00s |   -0.44134 |      6.7026 |    63.8902 |
Bayesian Optimization
--------------------------------------------------------
 Step |   Time |      Value |   max_depth |   n_rounds |
    2 | 00m03s |   -0.56552 |      4.6944 |   441.1579 |
    3 | 00m00s |   -0.41759 |      3.0000 |    10.0000 |
    4 | 00m00s |   -0.41807 |      9.9556 |    10.0109 |
Initialization
-------------------------------------------------------------------
 Step |   Time |      Value |   min_samples_leaf |   n_estimators |
    1 | 00m01s |  -12.80108 |           233.0750 |       695.2312 |
Bayesian Optimization
-------------------------------------------------------------------
 Step |   Time |      Value |   min_samples_leaf |   n_estimators |
    2 | 00m05s |  -12.80108 |           441.7913 |       932.0376 |
    3 | 00m00s |  -12.80108 |           999.7089 |        11.0768 |
    4 | 00m00s |   -6.03833 |             2.2057 |        10.3080 |
Initialization
-----------------------------------------
 Step |   Time |      Value |         C |
    1 | 00m00s |   -7.97059 |    7.0283 |
Bayesian Optimization
-----------------------------------------
 Step |   Time |      Value |         C |
    2 | 00m03s |   -8.21212 |    4.0000 |
    3 | 00m02s |   -7.97059 |   10.0000 |
    4 | 00m01s |   -7.97059 |    8.0851 |

      model name holdout error cv error training error
2       xg_boost        0.3981   0.4176         0.2919
0  random_forest         5.017    6.038          3.056
1   linear_model         6.946    7.971           6.84

In [4]:
ds.hyper_param_runs('xg_boost')

   max_depth    n_rounds     error
0   4.694397  441.157879 -0.565515
1   3.000000   10.000000 -0.417587
2   9.955573   10.010874 -0.418073

In [5]:
ds.hyper_param_runs('random_forest')

   min_samples_leaf  n_estimators      error
0        441.791335    932.037596 -12.801085
1        999.708938     11.076839 -12.801085
2          2.205680     10.307974  -6.038331