# Titanic dataset from Kaggle

Extensive example analysis:
https://www.kaggle.com/headsortails/pytanic

In [7]:
%matplotlib inline
import os, sys

module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import guacml
import pandas as pd

In [8]:
ds = guacml.Dataset('./data/raw/train.csv', 'Survived')
ds.column_info

,col_name,type,n_unique,n_unique_%,n_na_%,n_blank_%,example
0,PassengerId,ColType.INT_ENCODING,891,100,0.0,0.0,1
1,Survived,ColType.BINARY,2,0,0.0,0.0,0
2,Pclass,ColType.CATEGORICAL,3,0,0.0,0.0,3
3,Name,ColType.WORDS,891,100,0.0,0.0,"Braund, Mr. Owen Harris"
4,Sex,ColType.CATEGORICAL,2,0,0.0,0.0,male
5,Age,ColType.NUMERIC,88,10,20.0,0.0,22
6,SibSp,ColType.ORDINAL,7,1,0.0,0.0,1
7,Parch,ColType.CATEGORICAL,7,1,0.0,0.0,0
8,Ticket,ColType.CATEGORICAL,681,76,0.0,0.0,A/5 21171
9,Fare,ColType.NUMERIC,248,28,0.0,0.0,7.25
10,Cabin,ColType.CATEGORICAL,147,16,77.0,0.0,C85
11,Embarked,ColType.CATEGORICAL,3,0,0.0,0.0,S

In [9]:
ds.run(20)
ds.model_overview()

Running step clean_columns
Running step encode_labels
Running step xg_boost
Running step fill_na
Running step random_forest
Running step one_hot_encode
Running step linear_model

      model name holdout error cv error training error
2  random_forest        0.3962   0.3746         0.1787
0       xg_boost        0.4828   0.4944         0.3607
1   linear_model        0.4921   0.4474         0.5186

In [12]:
ds.hyper_param_runs('xg_boost').sort_values('run')

    cv error  max_depth  n_rounds  run status
0   0.723379        4.0     111.0    0     ok
1   0.927746        4.0     234.0    1     ok
2   0.550800        4.0      35.0    2     ok
3   0.494406        7.0       7.0    3     ok
4   0.552350        5.0      26.0    4     ok
5   0.687608        6.0      50.0    5     ok
6   0.917226        5.0     169.0    6     ok
7   0.637462        4.0      72.0    7     ok
8   0.665677        5.0      59.0    8     ok
9   0.946539        6.0     158.0    9     ok
10  0.742781        6.0      68.0   10     ok
11  0.615489        5.0      45.0   11     ok
12  0.791513        3.0     206.0   12     ok
13  0.927789        6.0     144.0   13     ok
14  0.715281        5.0      74.0   14     ok
15  0.597500        5.0      40.0   15     ok
16  0.692965        5.0      66.0   16     ok
17  0.528904        4.0      27.0   17     ok
18  0.589611        4.0      53.0   18     ok
19  0.937264        6.0     152.0   19     ok
20  0.570334       13.0       2.0   20     ok
21  0.516048        9.0       9.0   21     ok
22  0.509235        9.0       7.0   22     ok
23  0.506265        9.0       6.0   23     ok
24  0.506265        9.0       6.0   24     ok